<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="header">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="http://cn.inspinia.cn/html/inspiniaen/img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs"> <strong class="font-bold" th:text="${session.subject.principal.name}">王宇</strong>
                             </span> <span class="text-muted text-xs block" th:text="${session.subject.principal.username}">管理员</span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">个人信息</a></li>
                                <li><a href="mailbox.html">信箱</a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/logout}">退出</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    
                    <li class="active">
                        <a th:herf="@{/}"><i class="fa fa-diamond"></i> <span class="nav-label">主页</span></a>
                    </li>
                    
                    
                    
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">产品管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a th:href="@{/product/list}">产品管理</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> 
                        <span class="nav-label">系统管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a th:href="@{/product/list}">产品管理</a></li>
                        </ul>
                    </li>
                    
                    <li id="user_list">
                        <a th:href="@{/userInfo/userList}"><i class="fa fa-user-o"></i> <span class="nav-label">用户管理</span></a>
                    </li>

                    <li>
                        <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">栅格</span></a>
                    </li>
                    
            </ul>

        </div>
    </nav>

</body>
</html>