<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title}, ~{::section})}">
<head>
    <title>权限管理</title>
</head>
<section>
<div class="row wrapper border-bottom white-bg page-heading" th:with="title='权限管理2'">
      <div class="col-lg-10">
          <h2 th:text="${title}">权限管理</h2>
          <ol class="breadcrumb">
              <li>
                  <a href="/index" th:href="@{/index}">主页</a>
              </li>
              <li class="active" th:text="${title}">
             		 权限管理
              </li>
          </ol>
      </div>
  </div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  	<div class="col-lg-12">
      <div class="ibox">
      	<div class="ibox-title">
                           权限列表
		</div>
          <div class="ibox-content">
          <!-- Button trigger modal -->
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
			 	 添加
			</button>
			
              <table class="table table-bordered" data-page-size="15">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th >name</th>
                      <th >resourceType</th>
                      <th >url</th>
                      <th >permission</th>
                      <th >parentId</th>
                      <th >parentIds</th>
                      <th >available</th>
                      <th class="text-center">操作</th>
                  </tr>
                  </thead>
                  <tbody>
					<tr class="footable-even" th:each="per : ${permissions}">
			            <td scope="row" th:text="${perStat.count}">1</td>
			            <td th:text="${per.name}">user</td>
			            <td th:text="${per.resourceType}">resourceType</td>
			            <td th:text="${per.url}">resourceType</td>
			            <td th:text="${per.permission}">permission</td>
			            <td th:text="${per.parentId}">parentId</td>
			            <td th:text="${per.parentIds}">parentIds</td>
			            <td th:text="${per.available}">available</td>
			            <td class="text-center">
			            	
							<button type="button" class="btn btn-info assignRoles" th:attr="data-id=${user.uid}" >配置角色</button>
			            
							<button type="button" class="btn btn-info">修改</button>
			            
							<a th:href="@{/userInfo/delete?id=}+${user.uid}" class="btn btn-danger" id="">删除</a>
							
			            </td>
			            
			        </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="footable-visible">
                            <ul class="pagination pull-right">
                            <li class="footable-page-arrow disabled">
                            <a data-page="first" href="#first">«</a></li>
                            <li class="footable-page-arrow disabled">
                            <a data-page="prev" href="#prev">‹</a></li>
                            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                            <li class="footable-page"><a data-page="1" href="#">2</a>
                            </li><li class="footable-page-arrow">
                            <a data-page="next" href="#next">›</a></li><li class="footable-page-arrow">
                            <a data-page="last" href="#last">»</a></li></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
        <form th:action="@{/userInfo/addUserInfo}" method="post">
		            用户名: <input type="text" name="username"> <br>
		            密码: <input type="password" name="password"> <br><br>
        </form>  
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addUser">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="assignRoles" tabindex="-1" role="dialog" aria-labelledby="teste">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="test">Assign Roles</h4>
      </div>
      <div class="modal-body">
      <form action="#" th:action="@{/config/setUserRoles}" method="post">
      		<input type="hidden" name="uid" value="">
	      <table class="table table-bordered" data-page-size="15">
				<thead>
					<tr>
					    <th>#</th>
					    <th >role</th>
					    <th >description</th>
					</tr>
				</thead>
				<tbody>
					<tr><!-- 示范数据 -->
						<td><input type="checkbox"></td>
						<td>admin</td>
						<td>管理员</td>
					</tr>
				</tbody>
	            </table>
    	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="updateUser">Save</button>
      </div>
    </div>
  </div>
</div>

</section>
</body>
</html>

<script>
	$(function(){
		$("#side-menu li").removeClass("active");
		$("#side-menu #user_list").addClass("active");
		
		$("#addUser").on("click",function(){
			$("#myModal form").submit();
		});
		
		$("#updateUser").on("click",function(){
// 			console.log($("#assignRoles form").serialize());
			$("#assignRoles form").submit();
		});
		
		
		$(".assignRoles").on("click",function(){
			var uid=$(this).attr("data-id");
			console.log();
			//查后台role
			$.post("/config/getUserRoles","uid="+uid,function(data){
				//footable-even
				var model="";
				$(data).each(function(){
					model+="<tr>"
					model+="<td> <input name=\"rid\" value=\""+this.id+"\" type=\"checkbox\" "+(this.isSelect==1?"checked":"")+"></td>"
					model+="<td>"+this.role+"</td>"
					model+="<td>"+this.description+"</td>"
					model+="</tr>"
			    });

				$('#assignRoles table tbody tr').remove();
				$('#assignRoles table tbody').append(model);
				
				$('#assignRoles').modal('show');
			});
			//为隐藏域赋值
			$('#assignRoles form input[name="uid"]').val($(this).attr("data-id"));
		});
	});
</script>