<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title}, ~{::section})}">
<head>
    <title>index</title>
</head>
<body>
</body>
</html>
<section>
<div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
          <h2>用户管理</h2>
          <ol class="breadcrumb">
              <li>
                  <a href="/index" th:href="@{/index}">主页</a>
              </li>
              <li class="active">
                  <strong>用户列表</strong>
              </li>
          </ol>
      </div>
  </div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">
  <div class="col-lg-12">
      <div class="ibox">
          <div class="ibox-content">
              <table class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded" data-page-size="15">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th >User Name</th>
                      <th >Password</th>
                      <th class="text-centen">产品操作</th>
                  </tr>
                  </thead>
                  <tbody>
					<tr class="footable-even" th:each="user : ${users}">
			            <th scope="row" th:text="${user.id}">1</th>
			            <td th:text="${user.userName}">neo</td>
			            <td th:text="${user.password}">Otto</td>
			            <td><a th:href="@{toEdit(id=${user.id})}">edit</a>
			            <a th:href="@{delete(id=${user.id})}">delete</a></td>
			        </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" class="footable-visible">
                            <ul class="pagination pull-right"><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
</section>
<script>
	$(function(){
		console.log("---")
		$("#side-menu li").removeClass("active");
		$("#side-menu #user_list").addClass("active");
	});
</script>