<!DOCTYPE html>
<html th:replace="~{layout/index :: layout(~{::title}, ~{::section})}">
<head>
    <title>用户列表</title>
</head>
<section>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  	<div class="col-lg-12">
      <div class="ibox">
      	<div class="ibox-title">
                            用户列表
		</div>
          <div class="ibox-content">
          
  	<div class="row">
  		<form role="form" th:action="@{/userInfo/userList}" method="post">
    		  用户名：<input type="text" name="query_username" th:value="${query_username}">
    		  
    		  <div class="btn-group btn-group-sm">
				<input type="submit" class="btn btn-success" value="搜索">
			</div>
   	  </form>
   </div>
          
          <!-- Button trigger modal -->
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
			 	 添加
			</button>
			
              <table class="table table-bordered" data-page-size="15">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th >User</th>
                      <th >Name</th>
                      <th >roles</th>
                      <th class="text-center">操作</th>
                  </tr>
                  </thead>
                  <tbody>
					<tr class="footable-even" th:each="user : ${users}">
			            <td scope="row" th:text="${userStat.count}">1</td>
			            <td th:text="${user.username}">user</td>
			            <td th:text="${user.name}">name</td>
			            <td >
			            	<span th:each="r : ${user.roleList}">
			            		<span th:text="${r.role}"></span>
			            	</span>
			            </td>
			            <td class="text-center">
			            	
							<button type="button" class="btn btn-info assignRoles" th:attr="data-id=${user.uid}" >配置角色</button>
			            
							<button type="button" class="btn btn-info">修改</button>
			            
							<a th:href="@{/userInfo/delete?id=}+${user.uid}" class="btn btn-danger" id="">删除</a>
							
			            </td>
			            
			        </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="footable-visible">
                            <ul class="pagination pull-right">
                            <li class="footable-page-arrow disabled">
                            <a data-page="first" href="#first">«</a></li>
                            <li class="footable-page-arrow disabled">
                            <a data-page="prev" href="#prev">‹</a></li>
                            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                            <li class="footable-page"><a data-page="1" href="#">2</a>
                            </li><li class="footable-page-arrow">
                            <a data-page="next" href="#next">›</a></li><li class="footable-page-arrow">
                            <a data-page="last" href="#last">»</a></li></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
      </div>
      <div class="modal-body text-center">
        <form class="form-horizontal" th:action="@{/userInfo/addUserInfo}" method="post" role="form">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">账号</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="username" placeholder="请输入账号">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword" class="col-sm-2 control-label">密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" name="password" placeholder="请输入密码">
		    </div>
		  </div>
		</form>
		
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="addUser">保存</button>
        
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="assignRoles" tabindex="-1" role="dialog" aria-labelledby="teste">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="test">Assign Roles</h4>
      </div>
      <div class="modal-body">
      <form action="#" th:action="@{/config/setUserRoles}" method="post">
      		<input type="hidden" name="uid" value="">
	      <table class="table table-bordered" data-page-size="15">
				<thead>
					<tr>
					    <th>#</th>
					    <th >role</th>
					    <th >description</th>
					</tr>
				</thead>
				<tbody>
					<tr><!-- 示范数据 -->
						<td><input type="checkbox"></td>
						<td>admin</td>
						<td>管理员</td>
					</tr>
				</tbody>
	            </table>
    	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="updateUser">Save</button>
      </div>
    </div>
  </div>
</div>

</section>
</body>
</html>

<script>
	$(function(){
		$("#side-menu li").removeClass("active");
		$("#side-menu #user_list").addClass("active");
		
		$("#addUser").on("click",function(){
			//添加用户
			//验证用户名是否已存在
			$("#myModal form").submit();
		});
		
		$("#updateUser").on("click",function(){
// 			console.log($("#assignRoles form").serialize());
			$("#assignRoles form").submit();
		});
		
		
		$(".assignRoles").on("click",function(){
			 var sessionid = "";  //登陆后保存会话id
			 console.log(sessionid)
			var uid=$(this).attr("data-id");
			console.log();
			//查后台role
			$.post("/config/getUserRoles","uid="+uid,function(data){
				//footable-even
				var model="";
				$(data).each(function(){
					model+="<tr>"
					model+="<td> <input name=\"rid\" value=\""+this.id+"\" type=\"checkbox\" "+(this.isSelect==1?"checked":"")+"></td>"
					model+="<td>"+this.role+"</td>"
					model+="<td>"+this.description+"</td>"
					model+="</tr>"
			    });

				$('#assignRoles table tbody tr').remove();
				$('#assignRoles table tbody').append(model);
				
				$('#assignRoles').modal('show');
			});
			//为隐藏域赋值
			$('#assignRoles form input[name="uid"]').val($(this).attr("data-id"));
		});
	});
</script>